td.ekids_table_th_tt{
    width:5%;
}

td.ekids_table_th_name{
    width:20%;
}


.column_5{
    width: 5% !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.column_15{
    width: 15% !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}

